
.best__seller {
  width: 1100px;
  height: 450px;
  background-color: #e2e8f0;
  margin: 0px auto;
  border-radius: 10px;

  .bestseller__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 20%;
    h2 {
      font-family: shabnam;
      font-size: 24px;
      color: #757575;
      margin-right: 30px;
    }
    span {
      font-family: shabnam;
      font-size: 14px;
      color: #757575;
      margin-left: 30px;
    }
  }
  .bestseller__swiper {
    width: 100%;
    height: 80%;
    background-color: #e2e8f0;


    .swiper {
      width: 100%;
      height: 100%;
      font-family: shabnam;
    }

    .swiper-slide {
      text-align: center;
      font-size: 10px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      box-shadow: 1px rgb(212, 211, 211);
      border-radius: 10px;

      &:hover .text {
        color: blue;
      }

      .empty {
        font-size: 15px;
        background-color: rgb(240, 204, 211);
        color: #9b2c2c;
        width: 100%;
        height: 17%;
        text-align: center;
        padding-top: 17px;
        border-top: 1px solid #eaecf8;
      }

      img {
        width: 100%;
        height: 70%;
        display: block;
      }

      p {
        font-family: shabnam;
        font-size: 12px;
        color: gray;
      }
      .text {
        color: black;
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      h3 {
        width: 100%;
        color: gray;
        font-size: 15px;
        font-family: shabnam;
        text-decoration: line-through;

        text-align: left;
        padding-left: 15px;
      }
      .offer {
        display: flex;
        gap: 10px;
        font-family: shabnam;
        margin-right: 90px;
        padding-bottom: 2px;
        h4 {
          color: blue;
          font-size: 17px;
        }

        span {
          color: gray;
          font-size: 12px;
        }
      }
    }



  }
}
