* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

}

body{

width: 100%;
height: auto;
box-sizing: border-box;

}
.wraper {

  width: 85%;
  width: auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 35px auto;
  padding-top: 50px;

 
}
@font-face{
font-family: shabnam;
src: url(../font/Shabnam.woff);
src: url(../font/Shabnam-Bold-FD.woff);
src: url(../font/Shabnam-Medium-FD.woff);
src: url(../font/Shabnam-FD.woff);
}

